
.nav-link {
    color: #f8f9fa;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;
  }

.nav-link:hover {
    background-color: #e2e6ef;
  }

.btn-primary {
  background-color: #4992FD !important;
  border-color: #4992FD !important;
}

.btn-primary:hover {
  background-color: #76ADFD !important;
  border-color: #76ADFD !important;
}